@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


 a {
   text-decoration: none;
 }

.text {
  color: white;
  font-size: 8vw;
  font-family: 'Press Start 2P', cursive;
}

.tokenomics {
  color: white;
  margin-top: 2rem;
  font-size: 3vw;
  font-family: 'Press Start 2P', cursive;
}

/* Table */
table {
  table-layout: fixed;
  width: 80%;
  margin-bottom: 8rem;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  border-color:white;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:1.5vh;
  overflow:hidden;
  padding:10px 2px;
  word-break:break-word;
  overflow-wrap: break-word;
}
.tg th{
  border-color:white;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:2vh;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg .tg-0lax{
  text-align:center;
  vertical-align:center;
  color: white
}